@import "fonts";
@import "colors";
@import "alert";

@mixin make-columns($nb) {
  -webkit-column-count: $nb; /* Chrome, Safari, Opera */
  -moz-column-count: $nb; /* Firefox */
  column-count: $nb;
}
@mixin inline-list {
  li {
    display: inline;
  }
}
.qz-inline-l {
  @include inline-list();
}
.qz-font {
  font-family: $qz-font-family;
}
.qz-font-s {
  font-family: $qz-font-family-solid;
}
a.h-cursor {
  cursor: pointer;
}
a.qz-main-title {
  padding: 4px;
}
nav a.qz-main-title span {
  display: inline-block;
  padding-left: 5px;
}
nav.qz-main-header {
  background-color: $qz-header-blue;
  height: 70px;
  line-height: 70px;
}
.qz-main-logo {
  max-height: 60px;
}
.qz-aswr-choices {
  padding: 8px;
}
.qz-aswr-choices li {
  float: left;
  display: inline;
  width: 50%;
}
.qz-modal-co {
  border-radius: 10px;
  max-width: 35%;
}
.qz-modal-co .qz-h {
  color: #1481A5;
}
section.qz {
  border-radius: 4px;
  border: 1px solid transparent;
}
.qz-container{
  padding: 1px;
  margin-bottom: 25px;
}
.qz-content {
  margin-top: 40px;
  margin-left: 2%;
  margin-right: 0;
}
.qz-main-content {
  width: 70%;
  margin-left: 2%;
}
.csearch {
  margin-top: 30px;
}
.qz-quiz-basic {
  padding: 8px;
  border-radius: 8px;
}
.qz-basic-question {
  border-radius: 5px;
}
img.avatar.circle {
  width: 64px;
  height: 64px;
  background-color: #FFF;
}
.qz-cours {
  display: inline-block;
  width: 300px;
  margin-left: 2%;
  margin-right: 2%;
}
.list-2 { @include make-columns(2); }
.list-3 { @include make-columns(3); }
