$qz-header-blue: #6BC3DA;

$success-txt: #3c763d;
$success-bg: #dff0d8;
$success-border: #d6e9c6;

$info-txt: #31708f;
$info-bg: #d9edf7;
$info-border: #bce8f1;

$danger-txt: #a94442;
$danger-bg: #f2dede;
$danger-border: #ebccd1;
