<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="lib/materialize/css/materialize.min.css"  media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="css/app.styles.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>

  <body ng-app="quizee" style="background-color: azure;">
    <div ui-view>
      <h1>Loading...</h1>
    </div>

    <script type="text/ng-template" id="home.html">
      <header ui-view="header">

      </header>

      <div class="row qz-content">
        <section class="col s3 teal lighten-2 qz" ui-view="sidemenu">

        </section>

        <section class="col teal lighten-2 qz qz-main-content" ui-view="maincontent">

        </section>
      </div>
      <qz-signin-form></qz-signin-form>
    </script>

    <script type="text/ng-template" id="signin-modal.html">
      <!-- Modal Structure -->
      <div id="signin-modal" class="modal qz-modal-co">
        <div class="modal-content">
          <h4 class="qz-h">Connexion à Quizee</h4>
          <p>Connectez vous pour voir votre avancement, défier des amis ou vous exercez en faisant tous les Quiz que vous pouvez.</p>
          <p>
            Vous pouvez aussi faire les quiz sans compte et en créer un plus tard pour sauver votre avancement.
          </p>
          <div class="row">
            <div class="input-field row">
              <input id="first_name" autofocus="" type="text" class="validate" ng-model="signFormCtrl.username">
              <label for="first_name">Identifiant ou Email</label>
            </div>
            <div class="input-field row">
              <input id="first_name" type="password" class="validate" ng-model="signFormCtrl.pass">
              <label for="first_name">Mot de passe</label>
            </div>
            <div class="qz-alert qz-alert-danger" ng-if="signFormCtrl.errorinfo.visible">
              {{signFormCtrl.errorinfo.message}}
            </div>
            <div class="right">
              <button class="btn waves-effect waves-light" type="submit" name="action">Inscription
              </button>
              <button class="btn waves-effect waves-light" ng-click="signFormCtrl.signin()" type="submit" name="action">Connexion
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Créer un compte plus tard</a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="user.html">
      <header ui-view="header">

      </header>

      <div class="row qz-content">
        <section class="col s3 teal lighten-2 qz" ui-view="sidemenu">

        </section>
        <section class="col teal lighten-2 qz-main-content qz" ui-view="maincontent">

        </section>
      </div>
      <qz-signin-form></qz-signin-form>
    </script>

    <script type="text/ng-template" id="header-unco.html">
      <nav class="qz-main-header nav-wrapper">
        <a href="#" class="brand-logo qz-main-title qz-font"><img class="qz-main-logo" src="img/quizee-logo.png"/><span>uizee</span></a>
        <ul class="right qz-top-nav-el">
          <li><a ui-sref="^.dashbord.quizee">Accueil</a></li>
          <li><a class="waves-effect waves-light btn modal-trigger" href="#signin-modal">Connexion</a></li>
        </ul>
      </nav>
    </script>

    <script type="text/ng-template" id="header-co.html">
      <nav class="qz-main-header nav-wrapper">
        <a href="#" class="brand-logo qz-main-title qz-font"><img class="qz-main-logo" src="img/quizee-logo.png"/><span>uizee</span></a>
        <ul class="right qz-top-nav-el">
          <li><a ui-sref="^.dashbord.quizee">Accueil</a></li>
          <li><a class="waves-effect waves-light btn red" qz-signout>Déconnexion</a></li>
        </ul>
      </nav>
    </script>

    <script type="text/ng-template" id="sidemenu.html">
      <div class="card">
        <div class="card-content">
          <h4 class="card-title">Recherche de cours</h4>
          <div class="input-field csearch">
            <input id="cours"type="search" required>
            <label for="cours"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
          <div class="row">
            <div class="right valign-wrapper">
              <div class="col">
                <a class="h-cursor" ui-sref=".cours">Tous</a>
              </div>
              <div class="col">
                <button class="waves-effect waves-green btn">Valider</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="sidemenu-co.html">
      <div class="card">
        <div class="card-content">
          <h4 class="card-title">Recherche de cours</h4>
          <div class="input-field csearch">
            <input id="cours"type="search" required>
            <label for="cours"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
          <div class="row">
            <div class="right valign-wrapper">
              <div class="col">
                <a class="h-cursor" ui-sref=".cours">Tous</a>
              </div>
              <div class="col">
                <button class="waves-effect waves-green btn">Valider</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <h4 class="card-title">Mon profil <small><a class="right h-cursor">Voir profil</a></small></h4>
          <div class="card-panel qz-blue">
            <div class="row">
              <div class="col m4 s12">
                <img src="img/doge.png" alt="" class="avatar circle responsive-img">
              </div>
              <div class="col m8 s12 valign-wrapper">
                <span class="black-text">
                  This is a square image. Add the "circle" class to it to make it appear circular.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <h4 class="card-title">Mes cours <small><a class="right h-cursor" ui-sref=".cours">Tout voir</a></small></h4>
          <ul class="list-2">
            <li>
              <a class="h-cursor">CAR</a>
            </li>
            <li>
              <a class="h-cursor">FAA</a>
            </li>
            <li>
              <a class="h-cursor">HECI</a>
            </li>
            <li>
              <a class="h-cursor">IHM</a>
            </li>
          </ul>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="maincontent.html">
      <div ui-view="">Loading...</div>
    </script>

    <script type="text/ng-template" id="quizee-content.html">
      <div class="container qz-container" qz-all-quiz>
        <h1 class="center-align">Tous les Quiz</h1>
        <div class="card qz-quiz-basic" ng-class="{success: quiz.status == 'ok'}" ng-repeat="quiz in quizCtrl.all">
          <div class="card blue-grey darken-1 qz-basic-question">
            <div class="card-content white-text">
              <span>Cf. <a class="h-cursor" ui-sref="^.cours">FAA</a></span>
              <h1 class="center-align card-title">{{ quiz.question }}</h1>
            </div>
          </div>
          <div class="row card-content qz-aswr-choices">
            <div class="col s12">
              <ul class="qz-aswr-choices center-align">
                <li class="input-field left-align" ng-repeat="answer in quiz.choix">
                  <input type="checkbox" id="{{quiz.id}}-check-{{$index}}" class="filled-in" ng-model="answer.checked" ng-change="quizCtrl.selectAnswer(quiz,$index,answer.checked)" />
                  <label for="{{quiz.id}}-check-{{$index}}" ng-class="{'danger-txt':quizCtrl.answerOK(quiz,$index)}">{{ answer.txt }}</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-action right-align" ng-class="{danger: quiz.status == 'ko'}" >
            <span class="qz-alert-danger left" ng-if="quiz.status == 'ko'">
              <h4 style="display: inline;">FAUX!</h4>
            </span>
            <span class="left" ng-if="quiz.status == 'ok'">
              <h4 style="display: inline;">CORRECT!</h4>
            </span>
            <a class="btn" ng-click="quizCtrl.validate(quiz)">Valider</a>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="cours.html">
      <div class="qz-container" qz-all-cours="">
        <h1 class="center-align">Tous les cours</h1>
        <div class="row">
            <div class="card white qz-cours">
              <div class="card-content">
                <h2 class="card-title">FAA</h2>
              </div>
              <div class="card-action">
                <a>S'inscrire</a>
              </div>
            </div>
            <div class="card white qz-cours">
              <div class="card-content">
                <h2 class="card-title">FAA</h2>
              </div>
              <div class="card-action">
                <a>S'inscrire</a>
              </div>
            </div>
            <div class="card white qz-cours">
              <div class="card-content">
                <h2 class="card-title">FAA</h2>
              </div>
              <div class="card-action">
                <a>S'inscrire</a>
              </div>
            </div>
            <div class="card white qz-cours">
              <div class="card-content">
                <h2 class="card-title">FAA</h2>
              </div>
              <div class="card-action">
                <a>S'inscrire</a>
              </div>
            </div>
        </div>
      </div>
    </script>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="lib/jquery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="lib/materialize/js/materialize.min.js"></script>
    <!-- Angular Libs -->
    <script src="lib/angular-1.5.5/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>

    <script type="text/javascript" src="js/app.concat.js" ></script>
  </body>
</html>
