<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="lib/materialize/css/materialize.min.css"  media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="css/app.styles.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>

  <body ng-app="quizee">
    <div ui-view>
      <h1>Loading...</h1>
    </div>

    <script type="text/ng-template" id="home.html">
      <header ui-view="header">

      </header>

      <div class="row qz-content">
        <section class="col" style="background-color: lightblue;margin-right:30px;" ui-view="sidemenu">

        </section>

        <section class="col qz-main-content" style="background-color: lightblue;" ui-view="maincontent">

        </section>
      </div>
      <qz-signin-form></qz-signin-form>
    </script>

    <script type="text/ng-template" id="signin-modal.html">
      <!-- Modal Structure -->
      <div id="signin-modal" class="modal qz-modal-co">
        <div class="modal-content">
          <h4 class="qz-h">Connexion à Quizee</h4>
          <p>Connectez vous pour voir votre avancement, défier des amis ou vous exercez en faisant tous les Quiz que vous pouvez.</p>
          <p>
            Vous pouvez aussi faire les quiz sans compte et en créer un plus tard pour sauver votre avancement.
          </p>
          <div class="row">
            <div class="input-field row">
              <input id="first_name" type="text" class="validate" ng-model="signFormCtrl.username">
              <label for="first_name">Identifiant ou Email</label>
            </div>
            <div class="input-field row">
              <input id="first_name" type="password" class="validate" ng-model="signFormCtrl.pass">
              <label for="first_name">Mot de passe</label>
            </div>
            <div class="qz-alert qz-alert-danger" ng-if="signFormCtrl.errorinfo.visible">
              {{signFormCtrl.errorinfo.message}}
            </div>
            <div class="right">
              <button class="btn waves-effect waves-light" type="submit" name="action">Inscription
              </button>
              <button class="btn waves-effect waves-light" ng-click="signFormCtrl.signin()" type="submit" name="action">Connexion
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Créer un compte plus tard</a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="account.html">
      <header ui-view="header">

      </header>

      <div class="row qz-content">
        <section class="col" style="background-color: lightblue;margin-right:30px;" ui-view="sidemenu">

        </section>

        <section class="col qz-main-content" style="background-color: lightblue;" ui-view="maincontent">

        </section>
      </div>
      <qz-signin-form></qz-signin-form>
    </script>

    <script type="text/ng-template" id="header-unco.html">
      <nav class="qz-main-header nav-wrapper">
        <a href="#" class="brand-logo qz-main-title"><img class="qz-main-logo" src="img/quizee-logo.png"/><span>uizee</span></a>
        <ul class="right qz-top-nav-el">
          <li class="input-field">
            <input id="search" placeholder="Rechercher" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </li>
          <li><a href="#">Sass</a></li>
          <li><a href="#">Components</a></li>
          <li><a href="#">Javascript</a></li>
          <li><a class="waves-effect waves-light btn modal-trigger" href="#signin-modal">Connexion</a></li>
        </ul>
      </nav>
    </script>

    <script type="text/ng-template" id="header-co.html">
      <nav class="qz-main-header nav-wrapper">
        <a href="#" class="brand-logo qz-main-title"><img class="qz-main-logo" src="img/quizee-logo.png"/><span>uizee</span></a>
        <ul class="right qz-top-nav-el">
          <li class="input-field">
            <input id="search" placeholder="Rechercher" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </li>
          <li><a class="waves-effect waves-light btn red" qz-signout>Déconnexion</a></li>
        </ul>
      </nav>
    </script>

    <script type="text/ng-template" id="sidemenu.html">
      <div class="card">
        <div class="card-content">
          <h4 class="card-titme">Recherche de cours</h4>
          <div class="input-field csearch">
            <input id="cours"type="search" required>
            <label for="cours"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <h4 class="card-titme">Mon profil</h4>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <h4 class="card-titme">Mes cours</h4>
          <ul>
            <li>
              CAR
            </li>
            <li>
              FAA
            </li>
            <li>
              HECI
            </li>
            <li>
              IHM
            </li>
          </ul>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="maincontent.html">
      <h1>Section</h1>
      <div class="container qz-container">
        <div class="card qz-quiz-basic">
          <div class="card blue-grey darken-1 qz-basic-question">
            <div class="card-content white-text">
              <h1 class="center-align card-title">Ceci est un Quiz Basique</h1>
            </div>
          </div>
          <div class="row card-content qz-aswr-choices">
            <div class="col s6 offset-s3">
              <ul class="qz-aswr-choices center-align">
                <li class="input-field">
                  <input type="checkbox" id="check" class="filled-in" name="animal" value="Cat" />
                  <label for="check">Allo</label>
                </li>
                <li class="input-field">
                  <input type="checkbox" id="check2" class="filled-in" name="animal" value="Cat" />
                  <label for="check2">Allo</label>
                </li>
                <li class="input-field">
                  <input type="checkbox" id="check3" class="filled-in" name="animal" value="Cat" />
                  <label for="check3">Allo</label>
                </li>
                <li class="input-field">
                  <input type="checkbox" id="check4" class="filled-in" name="animal" value="Cat" />
                  <label for="check4">Allo</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </script>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="lib/jquery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="lib/materialize/js/materialize.min.js"></script>
    <!-- Angular Libs -->
    <script src="lib/angular-1.5.5/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>

    <script type="text/javascript" src="js/app.concat.js" ></script>
  </body>
</html>
