<div class="container qz-container">
  <div class="card qz-quiz-basic">
    <div class="card col blue-grey darken-1 qz-basic-question">
      <div class="card-content white-text">
        <h1 class="center-align card-title">Ceci est un Quiz Basique</h1>
      </div>
    </div>
    <div class="row card-content qz-aswr-choices">
      <div class="col s6 offset-s3">
        <ul class="qz-aswr-choices center-align">
          <li class="input-field">
            <input type="checkbox" id="check" class="filled-in" name="animal" value="Cat" />
            <label for="check">Allo</label>
          </li>
          <li class="input-field">
            <input type="checkbox" id="check2" class="filled-in" name="animal" value="Cat" />
            <label for="check2">Allo</label>
          </li>
          <li class="input-field">
            <input type="checkbox" id="check3" class="filled-in" name="animal" value="Cat" />
            <label for="check3">Allo</label>
          </li>
          <li class="input-field">
            <input type="checkbox" id="check4" class="filled-in" name="animal" value="Cat" />
            <label for="check4">Allo</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
